body {
  background-image: url(/background.png);
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-logo {
  width: 97px;
  height: 94px;
  display: block;
  margin: 45px auto 16px;
}

.page-title {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 37px;
}

.form-login {
  width: 300px;
  height: 398px;
  display: block;
  margin: 0 auto;
}

.account-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin: 60px 0 10px 0;
}

.register-link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #ec2578;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
